*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  font-feature-settings: "ss02" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  flex: 1 0 auto;
  padding: 0 5%;
}

/* Default parameters */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

a, a:visited {
  color: #000;
}

.page-title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

/* Footer */
.footer {
  flex-shrink: 0;
  padding: 5em 5%;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.social-item {
  margin: 0 1em;
}

.social-link {
  display: block;
  width: 1.5em;
  transition: opacity 0.3s;
}

.social-link:hover {
  opacity: 0.5;
}

.social-link img {
  width: 100%;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 2rem 5%;
  background-color: #fff;
}

.header__title {
  font-size: 2rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: lowercase;
}
@media (max-width: 640px) {
  .header__title {
    font-size: 1.5rem;
  }
}

.header__link {
  text-decoration: none;
}

@media (max-width: 640px) {
  .header {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.nav__list {
  display: flex;
  align-items: flex-start;
}

.nav__item {
  position: relative;
  text-align: right;
}
.nav__item:not(:last-of-type) {
  margin-right: 4rem;
}
@media (max-width: 640px) {
  .nav__item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
}

.nav__item > .nav__list {
  display: none;
  position: absolute;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0.5rem;
}
.nav__item > .nav__list .nav__item {
  margin-right: 0;
}
.nav__item > .nav__list .nav__item:not(:last-of-type) {
  margin-bottom: 0.3rem;
}
.nav__item > .nav__list .nav__link {
  white-space: nowrap;
}
@media (max-width: 640px) {
  .nav__item > .nav__list {
    position: static;
    margin-bottom: 0.5rem;
  }
}

.open > .nav__list {
  display: flex;
}

.nav__link {
  position: relative;
  padding: 0;
  text-transform: lowercase;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav__link.has-more::before {
  content: "add";
  display: inline-block;
  margin-right: 0.2rem;
  font-family: "Material Icons";
  vertical-align: middle;
  text-transform: none;
  transition: transform 0.2s;
  transform-origin: center;
  -webkit-font-smoothing: antialiased;
}
.open .nav__link.has-more::before {
  transform: rotate(45deg);
}

.nav__link.active,
.nav__link:hover {
  opacity: 1;
}

@media (max-width: 640px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
  }
}
.pictures-container {
  margin: -1rem;
  overflow: hidden;
}

.pictures-container .item {
  float: left;
  position: relative;
  overflow: hidden;
  margin: 1rem;
  background-color: #f1f2f3;
  box-sizing: content-box;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .pictures-container .item {
    width: 100% !important;
    height: auto !important;
  }
}
.pictures-container .item-image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.item-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  z-index: 1;
}

.item-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  letter-spacing: 0.1em;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

@media screen and (min-width: 800px) {
  .pictures-container .item:hover .item-layer {
    background-color: rgba(15, 15, 15, 0.5);
  }

  .pictures-container .item:hover .item-text {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  .pictures-container .item {
    cursor: default;
  }
}
/* Modal */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  display: none;
  /* hidden by default */
  position: fixed;
  /* stay in place */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  /* location of the box */
  overflow: auto;
  /* enable scroll if needed */
  background-color: #fff;
  z-index: 5;
}

.modal-image {
  display: block;
  margin: auto;
  max-width: 700px;
  max-height: 90%;
}

.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  margin-top: 2em;
  margin-bottom: 5em;
  font-size: 1.3em;
  text-align: center;
  color: #888;
}

.modal-image, .modal-caption {
  animation: appear 0.5s;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 70px;
  padding: 1em;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2em;
  height: 1px;
  background-color: #888;
  transition: background-color 0.3s;
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #000;
}

@media screen and (max-width: 800px) {
  .modal-image {
    width: 100%;
    max-height: initial;
  }

  .modal-caption {
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .modal-close {
    top: 50px;
    right: 40px;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}
.videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.videos__item {
  position: relative;
  margin: 0;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 size in percentage */
  overflow: hidden;
}

.videos__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 640px) {
  .videos {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
