*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", sans-serif;
}

.master {
    flex: 1 0 auto;
}

/* Default parameters */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

a, a:visited {
    color: #888;
}

a:hover {
    color: currentColor;
}

/* Framework */

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    margin-bottom: 3rem;
    font-weight: 200;
}

.heading-1 {
    font-size: 2.5rem;
}

.heading-2 {
    font-size: 2rem;
}

.heading-3 {
    font-size: 1.75rem;
}

.heading-4 {
    font-size: 1.5rem;
}

.heading-5 {
    font-size: 1.25rem;
}

.heading-6 {
    font-size: 1rem;
}

/* Header and navigation */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    background-color: #fff;
}

.hamburger-container {
    padding: 6px 0;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 28px;
    height: 2px;
    background-color: currentColor;
}

.hamburger {
    position: relative;
    transition: background-color .2s .2s;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    transition: top .3s .2s, transform .3s;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.active .hamburger {
    background-color: transparent;
    transition: background-color .2s;
}

.active .hamburger::before,
.active .hamburger::after {
    top: 0;
    transition: top .3s, transform .3s .2s;
}

.active .hamburger::before {
    transform: rotate(45deg);
}

.active .hamburger::after {
    transform: rotate(-45deg);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    padding: 0 2em;
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-link {
    position: relative;
    color: #888;
    text-decoration: none;
    transition: color .3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2em;
    width: 100%;
    height: 1px;
    background-color: #222;
    opacity: 0;
    transition: opacity .3s;
}

.current .nav-link,
.nav-link:hover {
    color: currentColor;
}

.current .nav-link::after,
.nav-link:hover::after {
    opacity: 1;
}

.site-title {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: lowercase;
}

@media screen and (min-width: 800px) {
    .hamburger-container {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
    }

    .site-title {
        order: 1;
    }

    .hamburger-container {
        margin: 2em 0;
        order: 2;
    }

    .nav {
        height: 0;
        overflow: hidden;
        transition: height .5s;
        order: 3;
    }

    .active .nav {
        height: 200px;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin: .8em 0;
        padding: 0;
    }
}

/* Photos */

.pictures-container {
    overflow: hidden;
}

.pictures-container .item {
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #f1f2f3;
    box-sizing: content-box;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .pictures-container .item {
        width: 100% !important;
        height: auto !important;
    }
}

.pictures-container .item img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.pictures-container .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
    z-index: 1;
}

.pictures-container .item::after {
    content: '— voir —';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 300;
    letter-spacing: .1em;
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
    z-index: 2;
}

.pictures-container .item:hover::before {
    background-color: rgba(15, 15, 15, .5);
}

.pictures-container .item:hover::after {
    opacity: 1;
}

/* Page */

.page-content {
    padding: 5em 10em;
}

.page-content p {
    font-weight: 300;
}

@media screen and (max-width: 800px) {
    .page-content {
        padding: 2em;
    }
}

/* Footer */

.footer {
    flex-shrink: 0;
    padding: 5em 0 3em;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.social-item {
    margin: 0 1em;
}

.social-link {
    display: block;
    width: 1.5em;
    transition: opacity .3s;
}

.social-link:hover {
    opacity: .5;
}

.social-link img {
    width: 100%;
}
