*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", sans-serif;
}

/* Default parameters */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

/* Framework */

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    margin-bottom: 2rem;
    font-weight: 200;
}

.heading-1 {
    font-size: 2.5rem;
}

.heading-2 {
    font-size: 2rem;
}

.heading-3 {
    font-size: 1.75rem;
}

.heading-4 {
    font-size: 1.5rem;
}

.heading-5 {
    font-size: 1.25rem;
}

.heading-6 {
    font-size: 1rem;
}

/* Header and navigation */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    padding: 0 2em;
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-link {
    position: relative;
    color: currentColor;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2em;
    width: 100%;
    height: 1px;
    background-color: #222;
    opacity: 0;
    transition: opacity .3s;
}

.current .nav-link::after,
.nav-link:hover::after {
    opacity: 1;
}

.site-title {
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: lowercase;
}

/* Photos */

.pictures-container {
    overflow: hidden;
}

.pictures-container .item {
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #f1f2f3;
    box-sizing: content-box;
}

.item img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
}

.item:hover::after {
    background-color: rgba(15, 15, 15, .5);
}

/* Page */

.page-content {
    padding: 5em 10em;
}

.page-content p {
    font-weight: 300;
}