<footer class="footer">
    <ul class="social-list">
        <li class="social-item">
            <a class="social-link" target="_blank"
               href="https://vsco.co/melinequerre/images/1">
                <img src="/images/icons/vsco.svg">
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" target="_blank"
               href="https://www.instagram.com/meline.rl/">
                <img src="/images/icons/instagram.svg">
            </a>
        </li>
    </ul>
</footer>
