<footer class="footer">
    <ul class="social-list">
        <li class="social-item">
            <a class="social-link" href="https://vsco.co/melinequerre/images/1">
                <img src="/images/icons/vsco.svg" alt="vsco logo">
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://www.instagram.com/meline_rl/">
                <img src="/images/icons/instagram.svg" alt="intagram logo">
            </a>
        </li>
    </ul>
</footer>