<header class="header">
    <div class="hamburger-container">
        <div class="hamburger"></div>
    </div>

    <nav class="nav">
        <ul class="nav-list">
            {% for category in site.data.categories %}
            <li class="nav-item{% if page.id == category.id %} active{% endif %}">
                <a class="nav-link" href="{{ category.url }}">{{ category.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <h1 class="header__title">
        <a class="header__link" href="/">Méline Querré</a>
    </h1>

    <div></div>
</header>
