<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description"
          content=""/>

    <!-- Open Graph -->
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:alt" content=""/>

    <title>
        {{ site.title }}
        {% if page.title %}
        · {{ page.title | downcase }}
        {% endif %}
    </title>

    <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <!-- Custom style -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    {% if page.style %} <!-- Page style -->
    <link rel="stylesheet" type="text/css" href="/css/{{ page.style }}"/>
    {% endif %}
</head>
