<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description"
          content=""/>

    <!-- Open Graph -->
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:alt" content=""/>

    <title>
        {% if page.title %}
        {{ page.title }} ·
        {% endif %}
        {{ site.title }}
    </title>

    <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/contact.css"/>
</head>
