<header class="header row no-gutters">
    <div class="hamburger-container">
        <div class="hamburger"></div>
    </div>

    <nav class="nav col-3">
        <ul class="nav-list">
            {% for c in site.data.categories %}
            <li class="nav-item{% if page.id == c.id %} active{% endif %}">
                <a class="nav-link" href="{{ c.url }}">{{ c.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <a class="site-title-link col-6 text-center" href="{{ site.url }}">
        <h1 class="site-title">Méline Querré</h1>
    </a>

    <div class="col-3 d-flex justify-content-end">
        <a class="nav-link{% if page.id == 'contact' %} active{% endif %}" href="/contact">contact</a>
    </div>
</header>
