<header class="header row no-gutters">
    <div class="hamburger-container">
        <div class="hamburger"></div>
    </div>

    <nav class="nav col-3">
        <ul class="nav-list">
            {% for c in site.data.categories %}
            <li class="nav-item{% if page.id == c.id %} active{% endif %}">
                <a class="nav-link" href="{{ c.url }}">{{ c.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <h1 class="col-6 text-center">
        <a class="site-title text-decoration-none" href="{{ site.url }}">Méline Querré</a>
    </h1>

    <div class="col-3"></div>
</header>
