*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  font-feature-settings: 'ss02' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

/* Default parameters */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

a, a:visited {
  color: #000;
}

.page-title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

/* Footer */

.footer {
  flex-shrink: 0;
  padding: 5rem 5%;
}

.footer__icons {
  display: flex;
  align-items: center;
  margin: auto;
  width: fit-content;
}

.footer__icon {
  display: block;
  width: 1.5rem;
  transition: opacity .3s;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &:hover {
    opacity: .5;
  }

  img {
    width: 100%;
  }
}
