// Variables

// Colours

$black: #000;
$white: #fff;


// Breakpoints

$breakpoints: (
  sm: 640px,
  md: 980px,
  lg: 1264px
);


// Masonry

$column-width: 32%;
$column-width-lg: 32%;
$column-width-md: 48%;
$column-width-sm: 100%;
$gutter-width: (100% % $column-width) / (floor(100% / $column-width) - 1);
