// Nav

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-of-type) {
  margin-right: 4rem;

  @include media(sm) {
    margin-right: 0;
    margin-bottom: .8rem;
  }
}

.nav__link {
  position: relative;
  padding: 0;
  text-decoration: none;
  opacity: .5;
  transition: opacity .3s;
}

.nav__link.active,
.nav__link:hover {
  opacity: 1;
}

@include media(sm) {
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
  }
}
